/* BOUTONS CALL TO ACTION */
.cta-bleu .elementor-button
{
	background-color :#0F233F !important;
	color:#fff;
}

.cta-bleu .elementor-button:hover
{
	color :#0F233F;
	background-color:#fff !important;
}

.cta-jaune .elementor-button
{
	background-color :#F8AC3A !important;
	color:#fff;
}

.cta-jaune .elementor-button:hover
{
	color :#F8AC3A;
	background-color:#fff !important;
}

.cta-blanc .elementor-button
{
	color : #0F233F !important;
	background-color:#fff !important;
	
}

.cta-blanc .elementor-button:hover
{
	background-color : #0F233F !important;
	color:#fff !important;
	
}

.cta-bleu-jaune .elementor-button
{
	color :#F8AC3A !important;
	background-color : #0F233F !important;
}

.cta-bleu-jaune .elementor-button:hover
{
	background-color :#F8AC3A !important;
	color : #0F233F !important;
}

.cta-vert .elementor-button
{
	background-color :#036564 !important;
	color:#fff;
}

.cta-vert .elementor-button:hover
{
	color :#036564;
	background-color:#fff !important;
}
