.carte
{
    display : grid;
    grid-template-rows : 1fr auto;
    border-radius : 50px;
    color:#000;
    padding:50px 20px;
    border:1px solid black;
    /* box-shadow: 2px 2px 5px black; */
   
}

.contenu
{
    display : grid;
    grid-template-columns : repeat(2,1fr);
    grid-template-rows : auto 1fr;
    align-content : center;
    margin : 15px;
    gap: 15px;
}

.contenu p, .contenu img
{
    align-self : center;
    justify-self: center;
} 

.contenu img
{
    width:100%;
    height: auto;
}

.carte h3
{
    grid-column-start : 1 ;
    grid-column-end : 3 ;
    text-align : center;
    margin-top: 0;
}

.carte i
{
    font-size : 2em;
    align-self : center;
}

.carte .controleurs-slides
{
    align-self : center;
    margin : 15px;
    display:grid;
    grid-template-columns: repeat(5,auto);
    justify-content:space-around;
    
}

@media (max-width: 767.98px)
{
    .carte .contenu
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "titre"
            "image"
            "texte"
        ;
    }

    .contenu h3
    {
        grid-area: titre;
    }

    .contenu p 
    {
        grid-area: texte;
    }

    .contenu img 
    {
        grid-area : image;
    }
}