/* GENERAL */
h1.elementor-heading-title, h2.elementor-heading-title, h3.elementor-heading-title
{
	line-height: 150%; 
	font-weight:600;
	
}
h1
{
	font-size : 3.5em;
}

h2, h2.elementor-heading-title
{
	text-transform:uppercase; 
	margin:25px 0 !important;
	font-weight:500 !important;
	font-size:2.7em;
}

h3
{
	font-size:1.8em;
}

.elementor-button
{
	font-weight: 400;
	text-transform : uppercase;
}

.texte-blanc
{
	color:#fff !important;
}

a, a:hover
{
	font-weight : bold;
}

/* CLASSES SPECIFIQUES */
.cta-bleu .elementor-button
{
	background-color :#0F233F !important;
	color:#fff;
}

.cta-bleu .elementor-button:hover
{
	color :#0F233F;
	background-color:#fff !important;
}

.cta-jaune .elementor-button
{
	background-color :#F8AC3A !important;
	color:#fff;
}

.cta-jaune .elementor-button:hover
{
	color :#F8AC3A;
	background-color:#fff !important;
}

.cta-blanc .elementor-button
{
	color : #0F233F !important;
	background-color:#fff !important;
	
}

.cta-blanc .elementor-button:hover
{
	background-color : #0F233F !important;
	color:#fff !important;
	
}

.cta-bleu-jaune .elementor-button
{
	color :#F8AC3A !important;
	background-color : #0F233F !important;
}

.cta-bleu-jaune .elementor-button:hover
{
	background-color :#F8AC3A !important;
	color : #0F233F !important;
}

.cta-vert .elementor-button
{
	background-color :#036564 !important;
	color:#fff;
}

.cta-vert .elementor-button:hover
{
	color :#036564;
	background-color:#fff !important;
}

#index-baseline
{
	color:#fff;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
    font-size: large;
	
}

#h1-accueil h1
{
	text-transform:initial;
}

/* POLISH */

/*NAV BAR*/
nav#site-navigation #primary-menu a
{
	text-transform:uppercase;
	font-weight:500;
	color :#0F233F;
}

nav .sub-menu a
{
	color:#fff !important;
}

/* FOOTER */
footer
{
	padding:0 75px;
	background-color:#0F233F;
}
footer h2
{
	text-transform:initial !important;

}

footer a:hover
{
	text-decoration:none !important;
}

footer img
{
	width:200px;
	height:auto;
	display:block;
	margin: 0 auto;
}

footer ul#footer-rs
{
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	list-style:none;
	padding:0;
	margin : auto;
}

footer i.fab
{
	font-size:1.5em;
}

/* INDEX */
.cta-blanc-transparent .elementor-button
{
	text-transform:uppercase;
	border: 3px solid #FFF;
	background-color:rgba(0, 0, 0, 0.0) !important;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.6));
	border-radius:50px !important;
}

.cta-blanc-transparent .elementor-button:hover
{
	background-color:#ffffff !important;
	color:#000;
}

.index-services-titres h3.elementor-heading-title
{
	color:#fff;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.6));
	font-weight: 600;
}

button#index-lire-la-suite
{
	text-align:right;
	background-color:#0F233F !important;
	color:#fff;
}

button#index-lire-la-suite:hover
{
	color:#0F233F;
	background-color:#fff !important;
}

/* INDEX - RESSOURCES GRATUITES */
#ressources-gratuites-titre, #ressources-gratuites-titre .elementor-widget-wrap
{
	padding:0;
}
/* INDEX - LE COACHING QUESAQUO*/
.carte
{
    display : grid;
    grid-template-columns : auto 1fr auto;
    border-radius : 50px;
    color:#fff;
    padding:50px 20px;
}

.contenu
{
    display : grid;
    grid-template-columns : repeat(2,1fr);
    grid-template-rows : auto 1fr;
    align-content : center;
    margin : 15px;
    gap: 15px;
}

.contenu p, .contenu img
{
    align-self : center;
    justify-self: center;
    text-align: justify;
} 

.carte h3
{
    grid-column-start : 1 ;
    grid-column-end : 3 ;
    text-align : center;
    margin-top: 0;
	color:#fff;
	text-transform:uppercase;
}

.carte i
{
    font-size : 4em;
    align-self : center;
}

.carte .controleurs
{
    align-self : center;
    margin : 15px;
}

.carte a 
{
    color:#F8AC3A;
}

.carte a:hover
{
    text-decoration:underline;
}

#pour-qui, #comment
{
    background-color: #0F233F;
}

#pour-quels-sujets, #avec-qui
{
    background-color: #033649;
}

#cest-quoi
{
    background-color: #036564;
}
